.agenda {
    display: grid;
    grid-auto-flow: column;
}

.day {
    grid-template-columns: 100px auto;
}

.week {
    grid-template-columns: 100px repeat(7, 1fr);
}

.agendaTime {
    border-top: 1px solid #d9d9d9;
}

.agendaTime > h4 {
    background-color: #fff;
    /* margin-top: -12px; */
    padding-right: 15px;
    display: inline-block;
    position: relative;
    top: -13px;
    /* color: #d9d9d9; */
    font-weight: normal;
}

.agendaHeader > h4 {
    font-weight: normal;
}

.agendaDate {
    font-size: xx-large;
}

.agendaSlot {
    min-height: 60px;
    border-left: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
}

.agendaItem {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
    margin: 5px;
    display: block;
    overflow: hidden;
}

.agendaLastSlot {
    border-left: none;
    min-height: 25px;
}
